name: Deno Deploy

on:
  push:
  workflow_dispatch:

jobs:
  deploy:
    permissions:
      contents: read
      id-token: write
    uses: ubiquity/deno-deploy-workflow/.github/workflows/deno-deploy-reusable.yml@main
    with:
      project: health-ubq-fi
      entrypoint: src/server/index.ts
      include: |
        src/**
      extra_paths: |
        /api/apps
      debug_fetch_fail: true
    secrets: inherit
